@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@400;700&family=Montserrat:wght@300;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100vw;
  background-color: #181719;
}

a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  width: 90%;
  margin: auto;
  max-width: 1440px;
  background-color: #181719;
  color: white;
  overflow-x: hidden;
  padding: 5vh 0;
}

body > * + * {
  margin-top: 5vw;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  position: relative;
}

header .logo {
  border: 3px solid white;
  font-family: "Crimson Pro", serif;
  text-transform: uppercase;
  padding: 10px;
  font-size: 1em;
}

header .nav-links {
  list-style: none;
  background-color: #181719;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .nav-links li {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

header .nav-links li.active {
  font-weight: bold;
}

header .nav-links > * + * {
  margin-left: 6em;
}

header #nav-toggler {
  display: none;
  width: 2em;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
}

main .main-info {
  width: 35%;
}

main .main-info h1 {
  font-family: "Lora", serif;
  font-size: 2em;
  font-weight: 400;
}

main .main-info p,
main .main-info .moreInfo {
  font-family: "Montserrat", sans-serif;
}

main .main-info p {
  font-size: 1.3em;
  font-weight: 300;
}

main .main-info .moreInfo {
  font-weight: 600;
  font-size: 1.1em;
}

main .main-info .moreInfo img {
  margin-left: 1em;
  vertical-align: bottom;
}

main .main-info > * + * {
  margin-top: 5vh;
}

main .main-image {
  position: relative;
  width: 50%;
}

main .main-image > .image {
  width: 100%;
}

main .main-image > .image img {
  width: 100%;
}

main .main-image .card {
  padding: 20px;
  width: 400px;
  position: absolute;
  bottom: -100px;
  right: 20px;
  background-color: #181719;
}

main .main-image .card .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-image .card .user img {
  width: 50px;
  border-radius: 50%;
}

main .main-image .card .user .userInfo h3,
main .main-image .card .user .userInfo p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-left: 1em;
}

main .main-image .card .user .userInfo h3 {
  font-size: 0.9em;
  line-height: 1.5em;
}

main .main-image .card .user .userInfo p {
  font-size: 0.8em;
  color: #828282;
}

main .main-image .card h2 {
  display: block;
  width: 80%;
  font-family: "Lora", serif;
  margin-top: 2.5vh;
}

footer {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #a9a9a9;
  margin-top: 10vw;
}

@media (max-width: 1024px) {
  body > * + * {
    margin-top: 8vw;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main > .main-image,
  main > .main-info {
    width: 100%;
  }
  main > * + * {
    margin-top: 5vw;
  }
  footer {
    margin-top: 20vw;
  }
}

@media (max-width: 768px) {
  header .nav-links > * + * {
    margin-left: 4em;
  }
}

@media (max-width: 650px) {
  header .nav-links {
    display: none;
  }
  header > #nav-toggler {
    display: block;
  }
  header .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1;
    text-align: center;
  }
  header .mobile > *:not(img) + *:not(img) {
    margin-left: 0;
    margin-top: 5em;
  }
  header .mobile > #menuIcon {
    display: block;
  }
}

@media (max-width: 500px) {
  main {
    font-size: 14px;
  }
  main .main-image .card {
    width: 80%;
  }
  footer {
    margin-top: 40vw;
  }
  footer span {
    padding: 20px;
    border-top: 2px solid #a9a9a9;
  }
}

@media (max-width: 380px) {
  main {
    font-size: 12px;
  }
  footer {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */